{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportFit - Tu tienda de deportes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <!-- Estilos personalizados aquí -->
    <style>
        /* Tus estilos personalizados */
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">SportFit</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'galeria' %}">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quienes' %}">Quiénes Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'saborlatino' %}">Sabor Latino</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bienvenido {{ user.username }} - 
                                {% if user.is_superuser %}Superusuario{% else %}
                                    {% if user.perfil.rol == 'preparador_fisico' %}Preparador Físico{% endif %}
                                    {% if user.perfil.rol == 'nutricionista' %}Nutricionista{% endif %}
                                    {% if user.perfil.rol == 'cliente' %}Cliente{% endif %}  
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'carrito' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H13.5a.5.5 0 0 1 .491.592l-1.5 8a.5.5 0 0 1-.491.408H4.409a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 1.77A.5.5 0 0 1 2 1.5H.5z"/>
                                    <path d="M4.5 3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V3z"/>
                                </svg>
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                        </li>
                        {% endif %}
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block contenido %}
    {% endblock %}
    <footer class="bg-dark text-white py-4">
        <div class="container">
            <div class="copy text-center mt-3">© 2024 SportFit. Todos los derechos reservados.</div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.slick-carousel').slick({
                dots: true,
                infinite: true,
                speed: 500,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
            });
        });
    </script>
</body>
</html>