{% extends 'base.html' %}

{% block contenido %}
<div class="container">
    <div class="form-container">
        <h2>Contacto</h2>
        <form action="{% url 'contacto' %}" method="post" id="contact-form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                {{ form.nombre }}
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                {{ form.email }}
            </div>

            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje:</label>
                {{ form.mensaje }}
            </div>

            <div class="mb-3">
                <label for="destinatario" class="form-label">A quién está dirigido:</label>
                {{ form.destinatario }}
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}
