{% extends 'base.html' %}

{% load static %}


{% block contenido %}

    <main>
        <section id="destacados" class="py-5">
            <div class="container">
                <h2 class="mb-4 text-center">Productos Destacados</h2>
                <div class="row">
                    <!-- Columna para productos destacados -->
                    <div class="col-md-6">
                        <div class="slick-carousel">
                            {% for producto_destacado in productos_destacados %}
                            <div>
                                <!-- Utiliza la URL de la imagen del producto si existe -->
                                {% if producto_destacado.imagen %}
                                <img src="{{ producto_destacado.imagen.url }}" alt="{{ producto_destacado.nombre }}" class="img-fluid rounded">
                                {% else %}
                                <p>No hay imagen disponible</p>
                                {% endif %}
                                <div class="carousel-caption">
                                    <div class="carousel-caption-inner">
                                        <h3>{{ producto_destacado.nombre }}</h3>
                                        <p>{{ producto_destacado.descripcion }} <a href="{% url 'infoproducto' producto_destacado.id %}" class="btn btn-primary">Más información</a></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Columna para otros productos -->
                    <div class="col-md-6">
                        <div class="row">
                            {% for producto in otros_productos %}
                            {% if forloop.counter <= 6 %}
                            <div class="col-6">
                                <div class="product-item">
                                    <!-- Utiliza la URL de la imagen del producto si existe -->
                                    {% if producto.imagen %}
                                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-fluid mb-3 rounded">
                                    {% else %}
                                    <p>No hay imagen disponible</p>
                                    {% endif %}
                                    <div class="product-description">
                                        <h3>{{ producto.nombre }}</h3> <!-- Agrega el nombre del producto -->
                                        <p class="mb-3">{{ producto.descripcion }} <a href="{% url 'infoproducto' producto.id %}" class="text-decoration-underline">Más información</a></p>
                                        <p>Precio: ${{ producto.precio }}</p> <!-- Agrega el precio -->
                                        <a class="btn btn-primary" href="{% url 'checkout' %}">Añadir al carro</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>    

{% endblock %}
  
