{% extends 'base.html' %} 
{% load static %} 

{% block contenido %}
<main>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                {% if producto.imagen %}
                <img src="{{ producto.get_imagen_url }}" class="product-image img-fluid" alt="{{ producto.nombre }}">
                {% else %}
                <p>No hay imagen disponible</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="product-description">
                    <h2>{{ producto.nombre }}</h2>
                    <p>{{ producto.descripcion }}</p>
                    <p><strong>Precio:</strong> ${{ producto.precio }}</p>
                    <button id="addToCartButton" class="btn btn-primary" data-product-id="{{ producto.id }}">Añadir al Carrito</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('addToCartButton').addEventListener('click', function() {
        const productId = this.dataset.productId;
        
        {% if user.is_authenticated %}
            // Solicitud AJAX para usuarios autenticados
            fetch("{% url 'agregar_al_carrito' 0 %}".replace('0', productId), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' // Importante para protección CSRF
                }
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Error al agregar al carrito');
                }
            })
            .then(data => {
                if (data.success) {
                    Swal.fire("¡Añadido!", "Producto añadido al carrito.", "success");
                } else {
                    Swal.fire("Error", data.error || "No se pudo agregar al carrito.", "error");
                }
            })
            .catch(error => {
                Swal.fire("Error", error.message, "error");
            });
        {% else %}
            Swal.fire({
                title: "Debes iniciar sesión",
                text: "Para comprar, debes iniciar sesión en tu cuenta.",
                icon: "warning",
                showCancelButton: true, // <-- Agregar esta línea para mostrar el botón Cancelar
                confirmButtonText: "Iniciar sesión",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirigir a la página de login
                    window.location.href = "{% url 'login' %}"; 
                }
            });
        {% endif %}
    });
</script>

{% endblock %}